body{
    margin: 0;
    font-family: serif;
}
footer{
    background-color: #1F2937;
    color: hsl(220, 13%, 91%);
    text-align: center;
    padding: 12px;
}
.container{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: hsl(90, 17%, 98%);
    font-size: 24px;
    margin: 20px;
    font-weight: bold;
}
.container ul{
    display: flex;
    margin: 20px;
    padding: 0px;
    gap: 15px; 
    list-style-type: none;
}
.container a{
    color: hsl(220, 13%, 91%);
    font-size: 18px;
    text-decoration: none;
}
#info{
    font-size: 36px;
    font-weight: bolder;
}
.random{
    display: inline-block;
}
.box{
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    margin-top: 36px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 15px;
}
.descriptions{
    padding: 10px;
    text-align: center;
}
#maintwo{
    text-align: center;
    padding: 36px;
}
.subtext{
    color: hsl(0, 0%, 33%);
    inline-size: 150px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 15px;
}
#mainthree{
    background-color: #c7c7c7;
    padding: 36px;
}
.bq_text{
    max-width: 800px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font: lighter; 
    margin-bottom: 0px;
}
.author{
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    margin-top: 0px;
}
.author::before{
    content: "\2014\0020";
}
.buttonbox{
    max-width: 800px;
    margin: 36px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #3882F6;
    border-radius: 7px;
    color: #c7c7c7;
}
.action{
    display: flex;
    flex-direction: column;
}
.buttondiv{
    align-items: center;
    display: flex;
}
.buttontext{
    margin: 0px;
    margin-left: 50px;
}
.buttondown{
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #3882F6;
    color: white;
    border-color: white;
    border-radius: 5px;
    margin-right: 50px;
}
#txth{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
#mainfour{
    padding: 36px;
}
#mainone{
    padding: 36px;
    background-color: #1F2937;
}
.heroabsolute{
    margin: 50px;
    display: flex;
}
.herobox{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: white;
}
.hero{
    flex: 1;
}
.herotitle{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 0px;
    margin-top: 0px;
}
.herosubtxt{
    font-size: 18px;
    color: #a6a8ac;
    margin-bottom: 5px;
    margin-top: 5px;
}
.buttonup{
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
}