* {
    text-align: center;
}
.gallery{
    display: inline-block;
    border: 2px solid hsl(0, 0%, 60%);
    margin: 5px;
    width: 200px;
}
.gallery .descriptions{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 2px solid hsl(0, 0%, 20%);
}
.gallery img{
    width: 100%;
    height: auto;
}
#title{
    text-align: center;
}
.tabtwo{
    text-align: center;
}
.lyrics{
    text-align: center;
}
.audio-container {
    display: flex;
    justify-content: center;
}
body{
    background-color: hsl(32, 54%, 93%);
    font-family: Crossaint;
}
@font-face {
    font-family: Crossaint;
    src: url(../../fonts/CroissantOne-Regular.ttf);
}