h1{
    text-align: center;
    font-size: xxx-large;
    margin-top: 15px;
    margin-bottom: 15px;
}
h1::first-letter{
    font-size: 70px;
}
body{
    background: linear-gradient(hsl(60, 14%, 68%), hsl(0, 19%, 82%), hsl(60, 14%, 68%));
    font-family: Crossaint;
}
@font-face{
    font-family: Crossaint;
    src: url(../../fonts/CroissantOne-Regular.ttf);
}
body:not(h1){
    font-size: 20px;
    margin-left: 3%;
    margin-right: 3%;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    scale: 2;
    background-color: white;
    border-radius: 0.3rem;
    border-width: 1px;
}
.file{
    padding: 0.5rem;
    cursor: pointer;
    background-color: white;
    border-radius: 0.3rem;
    margin: auto;
    border: solid 1px;
}
#file-chosen{
    margin-left: 0.3rem;
    font-family: Crossaint;
  }
hr{
    border: 1px solid black;
}